/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome/font-awesome.css
 *= require metisMenu/metisMenu.css
 *= require sb-admin-2/sb-admin-2.css
 *= require toastr
 *= require sweetalert
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";


 .actions-top {
   margin-top:    20px;
   padding-bottom: 20px;
   margin-bottom: 20px;
   border-bottom:  solid 1px #eee;
 }

 .actions-bottom {
   margin-top:    20px;
   margin-bottom: 20px;
   .btn {
     min-width: 100px;
   }
 }

 dl.show {
  dt {
    color: lighten(#333, 25%);
    font-weight: normal;
  }
  dd {
    margin-bottom: 20px;
    font-size:     1.4em;
  }
}

.middle-box {
  margin-top: 80px;
  h1 {
    color: lighten(#333, 25%);
  }
}

.login-panel {
  margin-top: 40px !important;
}
